{% extends 'base.html.twig' %}

{% block title %}{{ 'title.home' | trans }}{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <twig:breadcrumb:BreadcrumbElement
                    label="title.home"
                    icon="<i class='fas fa-home'></i>"
                    active="1"
            />
        </ol>
    </nav>
{% endblock %}

{% block body %}
{% endblock %}
