version: '3.7'
services:
    database:
        image: 'mariadb:latest'
        environment:
            MYSQL_ROOT_PASSWORD: password
            MYSQL_DATABASE: main
        ports:
            - '3381:3306'
        volumes:
            - ./mysql:/var/lib/mysql