{% extends 'base.html.twig' %}

{% block subTitle %}{{ 'title.property' | trans }}{% endblock %}

{% block bc_content %}
    <twig:breadcrumb:BreadcrumbElement
            label="title.property"
            active="1"
            icon="<i class='fas fa-building'></i>"
    />
{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        {% for property in properties %}
            <twig:Property property="{{ property }}" />
        {% endfor %}
        <twig:card:PropertyAdd />
    </div>

{% endblock %}
