:root {
    --bs-breadcrumb-divider: '>';
}

.card.property, .card.lease, .card.payment {
    width: 18rem;
}

.breadcrumb-item a {
    color: inherit !important;
}

.breadcrumb-item.active {
    color: var(--bs-primary-text-emphasis) !important;
}