<div class="nav-item dropstart">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="text-info"><i class="far fa-user"></i></span>
    </a>
    <ul class="dropdown-menu text-center">
        <twig:MenuElement label="title.logout" route="user_logout" />
        <twig:MenuElement label="title.profile" route="user_profile" />
    </ul>
</div>