{% extends 'base.html.twig' %}

{% block subTitle %}{{ 'title.lease' | trans }}{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-8">
        <twig:form:LeaseForm form="{{ form }}" />
    </div>
</div>
{% endblock %}

