
<div class="card m-3 property" >
    <div class="card-body text-center">
        <a href="{{ path('user_property_new') }}" class="card-link">
            <span class="fa-5x"><i class="fas fa-plus"></i></span>
        </a>
    </div>
</div>